body {
    background-color: darkslateblue;
    font-family: Bai Jamjuree;
}

footer {
    background-color: mediumslateblue;
    color: violet;
    position: fixed;
    bottom: 0;
    width: 1000%;
    height: 2rem;
}

footer p {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}

